@import '@fontsource/fredoka/400.css';
@import '@fontsource/fredoka/600.css';
@import '@fontsource/quicksand/400.css';
@import '@fontsource/quicksand/500.css';
@import '@fontsource/quicksand/600.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-main font-body antialiased selection:bg-primary/30;
      background-image: radial-gradient(#fbcfe8 2px, transparent 2px);
      background-size: 32px 32px;
  }
}

@layer components {
  .btn-candy {
    @apply px-6 py-2 rounded-full font-candy font-bold transition-all transform hover:scale-105 active:scale-95 shadow-candy;
  }
}
